body {
    width: 100vw;
    height: 45vh;
    max-width : 450px;
    background-image: url("/ChatBot/snoopy.webp");
    background-position: center;
    background-size: cover;
    margin : auto;
    max-width : 450px;
}

.snoopy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-family: 'Gamja Flower', cursive;
    font-size: 40px;
}

.btn {
    width: 200px;
    height: 100px;
    position: relative;
    top : 270px;
    right : 650px;
    border-radius: 2em;
    border : 5px solid rgb(87, 86, 173);
    background : #7DA8E4;
    font-family: 'Gamja Flower', cursive;
    font-size: 60px;
    font-weight: bold;
    color: rgb(87, 86, 173);    
    transition-duration: 0.3s;
    box-shadow: 7px 6px 1px #7d81bb;
}

.btn:active{
	box-shadow: none;
}

.speech-bubble {
	position: relative;
    top : 200px;
    left : 100px;
	background: white;
	border-radius: 2em;
    width: 550px;
    height: 200px;
    border : 5px solid black;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 47px solid transparent;
	border-left-color: black;
	border-right: 0;
	border-bottom: 0;
	margin-top: -23.5px;
	margin-right: -47px;
}

.speech-bubble2 {
	position: relative;
    top : 400px;
    right : 400px;
	background: white;
	border-radius: 2em;
    width: 550px;
    height: 200px;
    border : 5px solid black;

}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-right-color: black;
	border-left: 0;
	border-bottom: 0;
	margin-top: -22.5px;
	margin-left: -45px;
}

input {
    position : absolute;
    width : 500px;
    height: 180px;
    top : 5px;
    left : calc(50% - 255px);
    border : 0;
    font-size: 40px;
    font-family: 'Gamja Flower', cursive;
}

input:focus {
    outline: none;
}

.keyword {
    width: 100px;
    height: 50px;
    position: relative;
    top : 20px;
    left : 1000px;
    border-radius: 2em;
    border : 5px solid rgb(87, 86, 173);
    background : #7DA8E4;
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
    font-weight: bold;
    color: rgb(87, 86, 173);    
    transition-duration: 0.3s;
    box-shadow: 7px 6px 1px #7d81bb;
}

.keyword:hover {
	box-shadow: none;
}

.keyword:hover ~ .keyBox {
    visibility: visible;
}

.keyBox {
    width: 200px;
    height: 270px;
    border : 5px solid #7d81bb;
    position: absolute;
    top : 100px;
    right : 100px;
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
    text-align: center;
    visibility: hidden;
}